body {
    background-image: url(Image/starwars.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-origin: inherit;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: "Star Wars font";
    src: url(font/STARWARS.TTF);
}


/*------------------------------------ Corpus Page -----------------------------*/

#container {
    width: 100vw;
    height: 900px;
    background-color: none;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*------------------------------------  Index Page  ---------------------------------*/

#titre h2 {
    font-family: "Star Wars font";
    color: black;
    font-size: 100px;
    font-weight: bolder;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: gold;
}


/* ------------------------------------ Grand Titre Toutes pages -------------------------*/

.grandtitre {
    width: 100vw;
    height: 160px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grandtitre h1 {
    font-size: 80px;
    color: black;
    font-family: "Star Wars font";
    font-weight: bolder;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: gold;
    align-self: center;
}


/*-------------------------------------  Contenant Noir  ---------------------------------*/

#Contenu {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-image: url(https://media.giphy.com/media/MXQnyEQwBJ6eTj90L5/giphy.gif);
    color: white;
    border-width: 10px;
    border-color: rgb(236, 205, 29);
    border-bottom-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-right-style: groove;
}

#Contenu p {
    color: gold;
}


/*------------------------------------- Button Up Button Down ------------------------*/

#charger {
    width: 800px;
    height: 210px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

#charger button {
    align-self: center;
    width: 110px;
    height: 60px;
    background-color: grey;
    color: black;
    border-color: black;
}

#buttonb {
    width: 800px;
    height: 210px;
    background-color: none;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a button {
    align-self: center;
    width: 150px;
    height: 60px;
}

.btn-outline-warning {
    align-self: center;
    width: 110px;
    height: 40px;
}

#chargerd {
    width: 800px;
    height: 210px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.example button {
    width: 50px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    background: linear-gradient(rgb(255, 0, 0)rgb(22, 108, 134));
}


/*-----------------------------------------------------------------------------------*/

#logo {
    width: 100vw;
    height: 150px;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text {
    width: 600px;
    height: 650px;
    background-color: none;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#titre {
    width: 600px;
    height: 200px;
    background-color: none;
    align-self: center;
    text-align: center;
}

#titre p {
    color: white;
}

.btn {
    align-self: center;
    width: 150px;
    height: 60px;
}

h1 {
    font-size: 90px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
}

h3 {
    font-size: 20px;
    color: white;
}

#tableau {
    width: 1000px;
    height: 590px;
    background-color: none;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}